In [1]:
# Import Libraries and Dependencies
import pandas as pd
import requests

In [6]:
# Download the December 2021-2023 data downloaded from https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page
years = range(2021, 2024)
months = range(12, 13)
for year in years:
    for month in months:
        url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_{year}-{month:02}.parquet'
        response = requests.get(url)
        if response.status_code == 200:
            with open(f'fhvhv_tripdata_{year}-{month:02}.parquet', 'wb') as f:
                f.write(response.content)
        else:
            print(f'Failed to download {url}')

In [15]:
# Read the fhvhv_tripdata parquet files in dataframes 
Dec_21_df = pd.read_parquet(f'fhvhv_tripdata_2021-12.parquet')
Dec_22_df = pd.read_parquet(f'fhvhv_tripdata_2022-12.parquet')
Dec_23_df = pd.read_parquet(f'fhvhv_tripdata_2023-12.parquet')

#  Display the first 5 rows of the Dec dataframes
display(Dec_21_df.head())
display(Dec_22_df.head())
display(Dec_23_df.head())

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2021-12-01 00:03:20,2021-12-01 00:07:14,2021-12-01 00:09:16,2021-12-01 00:58:03,164,265,17.54,...,6.42,2.75,0.0,0.00,53.67,N,N,,N,N
1,HV0003,B03404,B03404,2021-12-01 00:02:58,2021-12-01 00:05:38,2021-12-01 00:06:05,2021-12-01 00:19:05,80,112,2.39,...,1.18,0.00,0.0,0.00,9.41,N,N,,N,N
2,HV0003,B03404,B03404,2021-12-01 00:20:22,2021-12-01 00:21:26,2021-12-01 00:22:45,2021-12-01 00:43:47,112,189,4.91,...,2.00,0.00,0.0,5.05,16.23,N,N,,N,N
3,HV0003,B03404,B03404,2021-12-01 00:47:40,2021-12-01 00:48:50,2021-12-01 00:50:51,2021-12-01 00:59:20,49,225,1.59,...,0.85,0.00,0.0,0.00,6.26,N,N,,N,N
4,HV0003,B03404,B03404,2021-12-01 00:25:31,2021-12-01 00:29:07,2021-12-01 00:29:12,2021-12-01 00:37:22,239,263,1.78,...,0.63,2.75,0.0,7.00,6.07,N,N,,N,N

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0005,B03406,None,2022-12-01 00:11:32,NaT,2022-12-01 00:18:48,2022-12-01 00:41:39,138,140,7.318,...,4.30,2.75,2.5,5.00,24.17,N,N,N,N,N
1,HV0003,B03404,B03404,2022-12-01 00:20:21,2022-12-01 00:21:43,2022-12-01 00:22:08,2022-12-01 00:30:59,125,148,1.090,...,1.43,2.75,0.0,0.00,13.11,N,N,,N,N
2,HV0003,B03404,B03404,2022-12-01 00:32:31,2022-12-01 00:34:39,2022-12-01 00:35:24,2022-12-01 00:46:38,148,249,2.350,...,1.93,2.75,0.0,0.00,17.19,N,N,,N,N
3,HV0003,B03404,B03404,2022-12-01 00:53:57,2022-12-01 00:54:23,2022-12-01 00:58:45,2022-12-01 01:17:43,144,148,1.730,...,2.45,2.75,0.0,5.04,20.79,N,N,,N,N
4,HV0003,B03404,B03404,2022-12-01 00:20:18,2022-12-01 00:21:58,2022-12-01 00:22:42,2022-12-01 00:33:41,181,228,1.890,...,0.74,0.00,0.0,3.00,8.21,N,N,,N,N

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2023-11-30 23:58:32,2023-12-01 00:02:29,2023-12-01 00:03:42,2023-12-01 00:26:21,13,143,4.84,...,3.86,2.75,0.0,3.00,29.55,N,N,N,N,N
1,HV0003,B03404,B03404,2023-12-01 00:37:55,2023-12-01 00:43:29,2023-12-01 00:44:37,2023-12-01 00:54:01,163,238,2.03,...,2.03,2.75,0.0,0.00,15.42,N,N,N,N,N
2,HV0003,B03404,B03404,2023-11-30 23:56:12,2023-12-01 00:12:07,2023-12-01 00:12:26,2023-12-01 00:54:03,246,244,7.86,...,2.64,2.75,0.0,7.19,36.30,N,N,N,N,N
3,HV0003,B03404,B03404,2023-12-01 00:05:59,2023-12-01 00:09:35,2023-12-01 00:10:30,2023-12-01 00:39:52,231,245,14.35,...,5.00,2.75,0.0,0.00,35.42,N,N,N,N,N
4,HV0003,B03404,B03404,2023-12-01 00:16:09,2023-12-01 00:21:38,2023-12-01 00:22:08,2023-12-01 01:02:56,231,265,26.09,...,8.10,2.75,0.0,0.00,60.85,N,N,N,N,N

In [8]:
# View column data types
Dec_23_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20516297 entries, 0 to 20516296
Data columns (total 24 columns):
 #   Column                Dtype
---  ------                -----
 0   hvfhs_license_num     object
 1   dispatching_base_num  object
 2   originating_base_num  object
 3   request_datetime      datetime64[us]
 4   on_scene_datetime     datetime64[us]
 5   pickup_datetime       datetime64[us]
 6   dropoff_datetime      datetime64[us]
 7   PULocationID          int32
 8   DOLocationID          int32
 9   trip_miles            float64
 10  trip_time             int64
 11  base_passenger_fare   float64
 12  tolls                 float64
 13  bcf                   float64
 14  sales_tax             float64
 15  congestion_surcharge  float64
 16  airport_fee           float64
 17  tips                  float64
 18  driver_pay            float64
 19  shared_request_flag   object
 20  shared_match_flag     object
 21  access_a_ride_flag    object
 22  wav_request_flag      object
 23  wav_match_flag        object
dtypes: datetime64[us](4), float64(9), int32(2), int64(1), object(8)
memory usage: 3.5+ GB

In [9]:
# Extract important columns
cleaned_21_df = Dec_21_df[['hvfhs_license_num', 'pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles', 'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax'
                , 'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay']].copy()
cleaned_22_df = Dec_22_df[['hvfhs_license_num', 'pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles', 'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax'
                , 'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay']].copy()
cleaned_23_df = Dec_23_df[['hvfhs_license_num', 'pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles', 'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax'
                , 'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay']].copy()

# Display the first 5 rows of the cleaned_23_df dataframe
cleaned_23_df.head()

,hvfhs_license_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay
0,HV0003,2023-12-01 00:03:42,2023-12-01 00:26:21,13,143,4.84,1359,43.48,0.00,1.20,3.86,2.75,0.0,3.00,29.55
1,HV0003,2023-12-01 00:44:37,2023-12-01 00:54:01,163,238,2.03,564,22.90,0.00,0.63,2.03,2.75,0.0,0.00,15.42
2,HV0003,2023-12-01 00:12:26,2023-12-01 00:54:03,246,244,7.86,2497,29.74,0.00,0.82,2.64,2.75,0.0,7.19,36.30
3,HV0003,2023-12-01 00:10:30,2023-12-01 00:39:52,231,245,14.35,1762,35.56,20.82,1.55,5.00,2.75,0.0,0.00,35.42
4,HV0003,2023-12-01 00:22:08,2023-12-01 01:02:56,231,265,26.09,2448,91.23,0.00,2.51,8.10,2.75,0.0,0.00,60.85

In [10]:
# Calculate the total passenger cost
cleaned_21_df['Total_Passenger_Cost'] = cleaned_21_df['base_passenger_fare'] + cleaned_21_df['tolls'] + cleaned_21_df['bcf'] + cleaned_21_df['sales_tax'] + cleaned_21_df['congestion_surcharge'] + cleaned_21_df['airport_fee'] + cleaned_21_df['tips']
cleaned_22_df['Total_Passenger_Cost'] = cleaned_22_df['base_passenger_fare'] + cleaned_22_df['tolls'] + cleaned_22_df['bcf'] + cleaned_22_df['sales_tax'] + cleaned_22_df['congestion_surcharge'] + cleaned_22_df['airport_fee'] + cleaned_22_df['tips']
cleaned_23_df['Total_Passenger_Cost'] = cleaned_23_df['base_passenger_fare'] + cleaned_23_df['tolls'] + cleaned_23_df['bcf'] + cleaned_23_df['sales_tax'] + cleaned_23_df['congestion_surcharge'] + cleaned_23_df['airport_fee'] + cleaned_23_df['tips']

# Display the first 5 rows of the cleaned_23_df dataframe
cleaned_23_df.head()

,hvfhs_license_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,Total_Passenger_Cost
0,HV0003,2023-12-01 00:03:42,2023-12-01 00:26:21,13,143,4.84,1359,43.48,0.00,1.20,3.86,2.75,0.0,3.00,29.55,54.29
1,HV0003,2023-12-01 00:44:37,2023-12-01 00:54:01,163,238,2.03,564,22.90,0.00,0.63,2.03,2.75,0.0,0.00,15.42,28.31
2,HV0003,2023-12-01 00:12:26,2023-12-01 00:54:03,246,244,7.86,2497,29.74,0.00,0.82,2.64,2.75,0.0,7.19,36.30,43.14
3,HV0003,2023-12-01 00:10:30,2023-12-01 00:39:52,231,245,14.35,1762,35.56,20.82,1.55,5.00,2.75,0.0,0.00,35.42,65.68
4,HV0003,2023-12-01 00:22:08,2023-12-01 01:02:56,231,265,26.09,2448,91.23,0.00,2.51,8.10,2.75,0.0,0.00,60.85,104.59

In [11]:
# Filter the data for Lyft
lyft_21_df = cleaned_21_df.loc[cleaned_21_df['hvfhs_license_num'] == 'HV0005'].copy()
lyft_22_df = cleaned_22_df.loc[cleaned_22_df['hvfhs_license_num'] == 'HV0005'].copy()
lyft_23_df = cleaned_23_df.loc[cleaned_23_df['hvfhs_license_num'] == 'HV0005'].copy()

# Display the first 5 rows of the lyft_23_df dataframe
lyft_23_df.head()

,hvfhs_license_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,Total_Passenger_Cost
17,HV0005,2023-12-01 00:50:08,2023-12-01 01:27:59,256,132,17.227,2271,56.51,0.00,1.62,5.24,0.00,2.5,0.0,44.32,65.87
18,HV0005,2023-12-01 00:09:21,2023-12-01 00:20:38,40,97,1.934,677,11.47,0.00,0.30,0.96,0.00,0.0,3.0,8.98,15.73
19,HV0005,2023-12-01 00:32:32,2023-12-01 00:43:27,148,79,1.313,655,11.35,0.00,0.30,0.98,2.75,0.0,0.0,7.96,15.38
20,HV0005,2023-12-01 00:47:13,2023-12-01 01:06:57,107,256,4.059,1184,20.28,0.35,0.57,1.83,2.75,0.0,0.0,16.60,25.78
27,HV0005,2023-12-01 00:46:08,2023-12-01 00:49:17,129,138,1.436,189,8.24,0.00,0.30,0.95,0.00,2.5,0.0,5.47,11.99

In [12]:
# Remove the hvfhs_license_num column, since it is no longer needed
lyft_21_df.drop(columns='hvfhs_license_num', inplace=True)
lyft_22_df.drop(columns='hvfhs_license_num', inplace=True)
lyft_23_df.drop(columns='hvfhs_license_num', inplace=True)

# Display the first 5 rows of the lyft_23_df dataframe
lyft_23_df.head()

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,Total_Passenger_Cost
17,2023-12-01 00:50:08,2023-12-01 01:27:59,256,132,17.227,2271,56.51,0.00,1.62,5.24,0.00,2.5,0.0,44.32,65.87
18,2023-12-01 00:09:21,2023-12-01 00:20:38,40,97,1.934,677,11.47,0.00,0.30,0.96,0.00,0.0,3.0,8.98,15.73
19,2023-12-01 00:32:32,2023-12-01 00:43:27,148,79,1.313,655,11.35,0.00,0.30,0.98,2.75,0.0,0.0,7.96,15.38
20,2023-12-01 00:47:13,2023-12-01 01:06:57,107,256,4.059,1184,20.28,0.35,0.57,1.83,2.75,0.0,0.0,16.60,25.78
27,2023-12-01 00:46:08,2023-12-01 00:49:17,129,138,1.436,189,8.24,0.00,0.30,0.95,0.00,2.5,0.0,5.47,11.99

In [13]:
# Sort values by pickup_datetime 
lyft_21_df.sort_values("pickup_datetime", inplace=True)
lyft_22_df.sort_values("pickup_datetime", inplace=True)
lyft_23_df.sort_values("pickup_datetime", inplace=True)

# Reset the index
lyft_21_df.reset_index(drop=True, inplace=True)
lyft_22_df.reset_index(drop=True, inplace=True)
lyft_23_df.reset_index(drop=True, inplace=True)

# Display the first 5 rows of the lyft_23_df dataframe
lyft_23_df.head()

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,Total_Passenger_Cost
0,2023-12-01 00:00:00,2023-12-01 00:25:06,130,216,3.882,1506,14.17,0.00,0.39,1.26,0.00,0.0,10.0,19.43,25.82
1,2023-12-01 00:00:00,2023-12-01 00:25:31,170,61,8.530,1531,37.25,2.24,1.08,3.48,2.75,0.0,0.0,25.80,46.80
2,2023-12-01 00:00:00,2023-12-01 01:05:08,158,265,18.970,3908,59.29,22.44,2.25,0.00,0.00,0.0,0.0,67.70,83.98
3,2023-12-01 00:00:01,2023-12-01 00:19:44,238,185,10.432,1183,28.39,0.24,0.79,2.54,2.75,0.0,0.0,25.00,34.71
4,2023-12-01 00:00:01,2023-12-01 00:22:25,216,61,9.309,1344,29.56,0.00,0.81,2.62,0.00,0.0,0.0,25.05,32.99

In [14]:
# Save the data to a parquet files
lyft_21_df.to_parquet(f'lyft_Dec_21.parquet')
lyft_22_df.to_parquet(f'lyft_Dec_22.parquet')
lyft_23_df.to_parquet(f'lyft_Dec_23.parquet')