In [6]:
import requests
import json
import pandas as pd

# Import dotenv package for setting environment variables 
from dotenv import load_dotenv

# Import os package
import os

In [13]:
df = pd.read_parquet('../Downloads/fhvhv_tripdata_2023-12.parquet')
df.sort_index(inplace=True)
display(df.head())
df.tail()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2023-11-30 23:58:32,2023-12-01 00:02:29,2023-12-01 00:03:42,2023-12-01 00:26:21,13,143,4.84,...,3.86,2.75,0.0,3.00,29.55,N,N,N,N,N
1,HV0003,B03404,B03404,2023-12-01 00:37:55,2023-12-01 00:43:29,2023-12-01 00:44:37,2023-12-01 00:54:01,163,238,2.03,...,2.03,2.75,0.0,0.00,15.42,N,N,N,N,N
2,HV0003,B03404,B03404,2023-11-30 23:56:12,2023-12-01 00:12:07,2023-12-01 00:12:26,2023-12-01 00:54:03,246,244,7.86,...,2.64,2.75,0.0,7.19,36.30,N,N,N,N,N
3,HV0003,B03404,B03404,2023-12-01 00:05:59,2023-12-01 00:09:35,2023-12-01 00:10:30,2023-12-01 00:39:52,231,245,14.35,...,5.00,2.75,0.0,0.00,35.42,N,N,N,N,N
4,HV0003,B03404,B03404,2023-12-01 00:16:09,2023-12-01 00:21:38,2023-12-01 00:22:08,2023-12-01 01:02:56,231,265,26.09,...,8.10,2.75,0.0,0.00,60.85,N,N,N,N,N

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
20516292,HV0005,B03406,None,2023-12-31 23:35:57,NaT,2023-12-31 23:39:27,2023-12-31 23:48:05,17,49,1.581,...,0.94,0.00,0.0,0.0,7.00,N,N,N,N,N
20516293,HV0003,B03404,B03404,2023-12-31 23:18:14,2023-12-31 23:19:16,2023-12-31 23:21:17,2023-12-31 23:50:30,186,160,8.740,...,3.30,2.75,0.0,0.0,27.96,N,N,N,N,N
20516294,HV0003,B03404,B03404,2023-12-31 23:18:22,2023-12-31 23:21:40,2023-12-31 23:22:26,2023-12-31 23:26:17,228,228,0.530,...,0.79,0.00,0.0,0.0,5.74,N,N,N,N,N
20516295,HV0003,B03404,B03404,2023-12-31 22:58:13,2023-12-31 23:01:28,2023-12-31 23:03:17,2023-12-31 23:30:34,119,50,10.140,...,2.16,2.75,0.0,0.0,30.99,N,N,N,N,N
20516296,HV0003,B03404,B03404,2023-12-31 23:34:06,2023-12-31 23:37:08,2023-12-31 23:38:44,2023-12-31 23:48:15,143,237,1.900,...,1.29,2.75,0.0,1.0,10.15,N,N,N,N,N

In [17]:
cleaned_df = df[['hvfhs_license_num', 'pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles', 'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax'
                , 'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay']]
cleaned_df.head()

,hvfhs_license_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay
0,HV0003,2023-12-01 00:03:42,2023-12-01 00:26:21,13,143,4.84,1359,43.48,0.00,1.20,3.86,2.75,0.0,3.00,29.55
1,HV0003,2023-12-01 00:44:37,2023-12-01 00:54:01,163,238,2.03,564,22.90,0.00,0.63,2.03,2.75,0.0,0.00,15.42
2,HV0003,2023-12-01 00:12:26,2023-12-01 00:54:03,246,244,7.86,2497,29.74,0.00,0.82,2.64,2.75,0.0,7.19,36.30
3,HV0003,2023-12-01 00:10:30,2023-12-01 00:39:52,231,245,14.35,1762,35.56,20.82,1.55,5.00,2.75,0.0,0.00,35.42
4,HV0003,2023-12-01 00:22:08,2023-12-01 01:02:56,231,265,26.09,2448,91.23,0.00,2.51,8.10,2.75,0.0,0.00,60.85

In [18]:
cleaned_df['Total_Passenger_Cost'] = cleaned_df['base_passenger_fare'] + cleaned_df['tolls'] + cleaned_df['bcf'] + cleaned_df['sales_tax'] + cleaned_df['congestion_surcharge'] + cleaned_df['airport_fee'] + cleaned_df['tips']
cleaned_df.head()

C:\Users\Tom\AppData\Local\Temp\ipykernel_26876\563720876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Total_Passenger_Cost'] = cleaned_df['base_passenger_fare'] + cleaned_df['tolls'] + cleaned_df['bcf'] + cleaned_df['sales_tax'] + cleaned_df['congestion_surcharge'] + cleaned_df['airport_fee'] + cleaned_df['tips']

,hvfhs_license_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,Total_Passenger_Cost
0,HV0003,2023-12-01 00:03:42,2023-12-01 00:26:21,13,143,4.84,1359,43.48,0.00,1.20,3.86,2.75,0.0,3.00,29.55,54.29
1,HV0003,2023-12-01 00:44:37,2023-12-01 00:54:01,163,238,2.03,564,22.90,0.00,0.63,2.03,2.75,0.0,0.00,15.42,28.31
2,HV0003,2023-12-01 00:12:26,2023-12-01 00:54:03,246,244,7.86,2497,29.74,0.00,0.82,2.64,2.75,0.0,7.19,36.30,43.14
3,HV0003,2023-12-01 00:10:30,2023-12-01 00:39:52,231,245,14.35,1762,35.56,20.82,1.55,5.00,2.75,0.0,0.00,35.42,65.68
4,HV0003,2023-12-01 00:22:08,2023-12-01 01:02:56,231,265,26.09,2448,91.23,0.00,2.51,8.10,2.75,0.0,0.00,60.85,104.59

In [19]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20516297 entries, 0 to 20516296
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   hvfhs_license_num     object
 1   pickup_datetime       datetime64[us]
 2   dropoff_datetime      datetime64[us]
 3   PULocationID          int32
 4   DOLocationID          int32
 5   trip_miles            float64
 6   trip_time             int64
 7   base_passenger_fare   float64
 8   tolls                 float64
 9   bcf                   float64
 10  sales_tax             float64
 11  congestion_surcharge  float64
 12  airport_fee           float64
 13  tips                  float64
 14  driver_pay            float64
 15  Total_Passenger_Cost  float64
dtypes: datetime64[us](2), float64(10), int32(2), int64(1), object(1)
memory usage: 2.3+ GB

In [20]:
grouped_df = cleaned_df.groupby('hvfhs_license_num').agg({'trip_miles': 'sum', 'trip_time': 'sum', 'Total_Passenger_Cost': 'sum', 'driver_pay': 'sum'})
grouped_df.head()

,trip_miles,trip_time,Total_Passenger_Cost,driver_pay
hvfhs_license_num,,,,
HV0003,7.288412e+07,17420050597,4.843460e+08,2.949263e+08
HV0005,3.173202e+07,7593786986,1.886805e+08,1.206346e+08

In [21]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, HV0003 to HV0005
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   trip_miles            2 non-null      float64
 1   trip_time             2 non-null      int64
 2   Total_Passenger_Cost  2 non-null      float64
 3   driver_pay            2 non-null      float64
dtypes: float64(3), int64(1)
memory usage: 80.0+ bytes

In [23]:
lyft_df = cleaned_df.loc[cleaned_df['hvfhs_license_num'] == 'HV0005']
lyft_df.head()
display(lyft_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6242671 entries, 17 to 20516292
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   hvfhs_license_num     object
 1   pickup_datetime       datetime64[us]
 2   dropoff_datetime      datetime64[us]
 3   PULocationID          int32
 4   DOLocationID          int32
 5   trip_miles            float64
 6   trip_time             int64
 7   base_passenger_fare   float64
 8   tolls                 float64
 9   bcf                   float64
 10  sales_tax             float64
 11  congestion_surcharge  float64
 12  airport_fee           float64
 13  tips                  float64
 14  driver_pay            float64
 15  Total_Passenger_Cost  float64
dtypes: datetime64[us](2), float64(10), int32(2), int64(1), object(1)
memory usage: 762.0+ MB

None

In [24]:
uber_df = cleaned_df.loc[cleaned_df['hvfhs_license_num'] == 'HV0003']
display(uber_df.info())
uber_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 14273626 entries, 0 to 20516296
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   hvfhs_license_num     object
 1   pickup_datetime       datetime64[us]
 2   dropoff_datetime      datetime64[us]
 3   PULocationID          int32
 4   DOLocationID          int32
 5   trip_miles            float64
 6   trip_time             int64
 7   base_passenger_fare   float64
 8   tolls                 float64
 9   bcf                   float64
 10  sales_tax             float64
 11  congestion_surcharge  float64
 12  airport_fee           float64
 13  tips                  float64
 14  driver_pay            float64
 15  Total_Passenger_Cost  float64
dtypes: datetime64[us](2), float64(10), int32(2), int64(1), object(1)
memory usage: 1.7+ GB

None

,hvfhs_license_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,Total_Passenger_Cost
0,HV0003,2023-12-01 00:03:42,2023-12-01 00:26:21,13,143,4.84,1359,43.48,0.00,1.20,3.86,2.75,0.0,3.00,29.55,54.29
1,HV0003,2023-12-01 00:44:37,2023-12-01 00:54:01,163,238,2.03,564,22.90,0.00,0.63,2.03,2.75,0.0,0.00,15.42,28.31
2,HV0003,2023-12-01 00:12:26,2023-12-01 00:54:03,246,244,7.86,2497,29.74,0.00,0.82,2.64,2.75,0.0,7.19,36.30,43.14
3,HV0003,2023-12-01 00:10:30,2023-12-01 00:39:52,231,245,14.35,1762,35.56,20.82,1.55,5.00,2.75,0.0,0.00,35.42,65.68
4,HV0003,2023-12-01 00:22:08,2023-12-01 01:02:56,231,265,26.09,2448,91.23,0.00,2.51,8.10,2.75,0.0,0.00,60.85,104.59